{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berssmin</title>
</head>
<body>
<h1>Account management</h1>
<text>dedhededhhh</text>
<div class="row">
						<div class="col-lg-4 col-md-12 col-12">
							<!-- Top Left -->
							<div class="top-left">
								<ul class="list-main">
									<li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
									<li><i class="ti-email"></i> support@shophub.com</li>
								</ul>
							</div>
</body>
</html>
{% endblock %}